{% load static %}
<div class="d-flex">
    <aside class="d-flex flex-column flex-shrink-0 custom-sidebar" id="mainSidebar">
        
        <div class="sidebar-header d-flex align-items-center justify-content-between">
            <div class="collapse show" id="brandWrapper">
                <span class="fs-4 fw-semibold text-dark" id="brandText">
                    MikroCore
                </span>
            </div>
            <button class="btn btn-sm btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target=".menu-text,#brandWrapper" aria-expanded="true" aria-label="Colapsar contenido">
                <img src="{% static 'images/barraTriple.svg' %}" alt="Menu" width="20" height="20">
            </button>
        </div>

        <div id="menuTextos" class="sidebar-menu-wrapper">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link text-dark d-flex align-items-center" title="Inicio">
                        <img src="{% static 'images/inicio.svg' %}" alt="Logo" width="20" height="20">
                        <span class="sidebar-text text-dark menu-text collapse show">Inicio</span>
                    </a>
                </li>
                {% if user.is_authenticated %}
                {% if user.is_superuser or 'asistente_administrativo' in user.groups.all|join:"," %}
                <li class="nav-item">
                    <a href="{% url 'gestion_clientes' 0 %}" class="nav-link text-dark d-flex align-items-center" title="Clientes">
                        <img src="{% static 'images/clientes.svg' %}" alt="Clientes" width="20" height="20">
                        <span class="sidebar-text text-dark menu-text collapse show">Clientes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'gestion_pagos' %}" class="nav-link text-dark d-flex align-items-center" title="Pagos">
                        <img src="{% static 'images/pagos.svg' %}" alt="Pagos" width="20" height="20">
                        <span class="sidebar-text text-dark menu-text collapse show">Pagos</span>
                    </a>
                </li>
                {% endif %}
                {% if user.is_superuser or 'soporte' in user.groups.all|join:"," %}
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark d-flex align-items-center" title="Servicios">
                        <img src="{% static 'images/servicios.svg' %}" alt="Servicios" width="20" height="20">
                        <span class="sidebar-text text-dark menu-text collapse show">Servicios</span>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark d-flex align-items-center" title="Morosidad">
                        <img src="{% static 'images/morosidad.svg' %}" alt="Morosidad" width="20" height="20">
                        <span class="sidebar-text text-dark menu-text collapse show">Morosidad</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark d-flex align-items-center" title="Reportes">
                        <img src="{% static 'images/reportes.svg' %}" alt="Reportes" width="20" height="20">
                        <span class="sidebar-text text-dark menu-text collapse show">Reportes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logs' %}" class="nav-link text-dark d-flex align-items-center" title="Logs">
                        <img src="{% static 'images/logs.svg' %}" alt="Logs" width="20" height="20">
                        <span class="sidebar-text text-dark menu-text collapse show">Logs</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </aside>
</div>