{% extends 'base.html' %}
{% load static %}

{% block title %} Buscar clientes {% endblock %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"> Buscar clientes </li>
{% endblock %}

{% block content_page %}

    <div class="mb-4">
        <h1 class="fw-bold">Seleccionar abonado del pago</h1>
        <hr>
    </div>
        <!-- tarjeta para la tabla de listado de clientes-->
    <div class="table-responsive card">
        <!--cabecera de la tabla-->
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h3 class="card-title">Listado de clientes</h3>
            <form method="post">
                {% csrf_token %}
                <div class="d-flex justify-content-start gap-3 align-items-center mb-1">
                    <!--buscar por cedula-->
                    {{ filtros.cedula }}
                    <!--buscar-->
                    <button class="btn btn-sm btn-outline-dark" type="submit">
                        <img src="{% static 'images/busqueda.svg' %}" alt="Buscar" title="Aplicar filtros y buscar" width="20" height="20">
                    </button>

                </div>
            </form>
        </div>

        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Rif</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Plan</th>
                        <th scope="col">Estado actual</th>
                        <th scope="col">Continuar</th>
                    </tr>
                </thead>
                <tbody>
                    {% if clientes %}
                        {% for cliente in clientes %}

                            <tr>
                                <td>{{cliente.cedula}}</td>
                                <td>{{cliente.nombre}}</td>
                                <td>{{cliente.idPlan}}</td>
                                <td>{{cliente.estado}}</td>
                                <td>
                                    <a
                                        name=""
                                        id=""
                                        title="continuar a pago"
                                        class="btn btn-sm"
                                        href="{% url 'crear_pago' cliente.id %}"
                                        role="button"
                                        ><img src="{% static 'images/continuar.svg' %}" alt="" width="20" height="20">
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="9" class="text-center">
                                Sin resultados.
                            </td>
                        </tr>
                    {% endif %}                            
                </tbody>
            </table>

        </div>

    </div>

{% endblock %}