{% extends 'base.html' %}
{% load static %}

{% block title %} Crear Pago {% endblock %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{% url 'gestion_pagos' %}">Gestión de Pagos</a></li>
    <li class="breadcrumb-item"><a href="{% url 'pagos_pendientes' %}">Seleccionar Abonado</a></li>
    <li class="breadcrumb-item active">Crear Pago</li>
{% endblock %}

{% block content_page %}
    <div class="container p-4 bg-white">
        
        <div class="mb-4">
            <h4 class=".h4">Información del Cliente</h4>
            <hr class="text-muted mb-2">

            <div class="row g-4 mb-2">
                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">Nombre</label>
                    <input type="text" class="form-control bg-light" value="{{ cliente.nombre }}" readonly>
                </div>
                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">RIF</label>
                    <input type="text" class="form-control bg-light" value="{{ cliente.cedula }}" readonly>
                </div>
                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">Celular</label>
                    <input type="text" class="form-control bg-light" value="{{ cliente.celular }}" readonly>
                </div>
            </div>

            <div class="row g-4 mb-2">
                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">Plan</label>
                    <input type="text" class="form-control bg-light" value="{{ cliente.idPlan }}" readonly>
                </div>
                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">Estado Actual</label>
                    <input type="text" class="form-control bg-light" value="{{ cliente.estado }}" readonly>
                </div>
                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">Saldo Pendiente</label>
                    <input type="text" class="form-control bg-light" value="{{ cliente.saldo }}" readonly>
                </div>
            </div>
        </div>

        <hr class="text-muted mb-3">

        <div class="mb-4">
            
        
            <form action="{% url 'crear_pago' cliente.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.errors or error %}
                    <div class="alert alert-danger alert-dismissible">
                        <h5 class="alert-heading">Error al Registrar el Pago</h5>
                        <button type="button" class="position-absolute top-0 end-0 mt-3 me-3 bg-transparent border-0 p-0" data-bs-dismiss="alert">
                            <img src="{% static 'images/boton_cerrar.svg' %}" alt="Cerrar" width="20" height="20">
                        </button>
                            
                        <ul class="mb-0">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li><strong>{{ field.label }}:</strong>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                            {% if error %}
                                <li>{{ error }}</li>
                            {% endif %} 
                        </ul>
                    </div>
                {% endif %}


                <div class="row g-4">  
                    <div class="col-md-4">
                        <h4 class=".h4">Registrar Pago</h4>
                    </div>
                    <div class="col-md-3 ms-auto">
                        {{ form.fecha }}
                    </div>
                </div>
                <hr class="text-muted mb-3">

                <div class="row g-4 mb-2">
                    <div class="col-md-4">
                        <label class="form-label fst-italic text-muted small mb-1">Monto a Pagar ($)</label>
                        {{ form.montoUSD }}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label fst-italic text-muted small mb-1">Método de Pago</label>
                        {{ form.metodo }}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label fst-italic text-muted small mb-1">Tasa del Día</label>
                        {{ form.tasa  }}
                    </div>
                   
                </div>

                <div class="row g-4 mb-2">
                    <div class="col-md-4">
                        <label class="form-label fst-italic text-muted small mb-1">Monto a Pagar (Bs)</label>
                        <input type="text" class="form-control" id="monto_bs" inputmode="decimal">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label fst-italic text-muted small mb-1">Comprobante</label>
                        {{ form.comprobante }} 
                    </div>
                </div>


                <div class="row g-4 mt-2 justify-content-end">
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-success w-100">Finalizar Pago</button>
                    </div>
                </div>
                
            </form>



        </div>



           
        
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/calculoMontos.js' %}"></script>
{% endblock %}


