{% extends 'base.html' %}

{% block title %}Detalles del Pago{% endblock %}

{% block breadcrumb_items %}
<li class="breadcrumb-item"><a href="{% url 'gestion_pagos' 0 %}">Gestión de Pagos</a></li>
<li class="breadcrumb-item active">Detalles del Pago</li>
{% endblock %}

{% block content_page %}
    <div class="card">
        <div class="card-header">
            <span class="h3">Detalles del pago</span>
        </div>
        <div class="card-body">
            <form>
                {{ form.as_p }}
            </form>
            <a href="{% url 'gestion_pagos' 0 %}" class="btn btn-secondary">Volver</a>
        </div>
    </div>
{% endblock %} 