{% extends 'base.html' %}

{% block title %}Detalles del Pago{% endblock %}

<!-- Breadcrumbs para navegación que muestra la ruta de navegación dentro de la aplicación -->
{% block breadcrumb_items %}
<li class="breadcrumb-item"><a href="{% url 'gestion_pagos' %}">Gestión de Pagos</a></li>
<li class="breadcrumb-item active">Detalles del Pago</li>
{% endblock %}

{% block content_page %}
    <!-- Contenedor principal de la página con información del cliente y detalles del pago registrado -->
    <div class="container p-4  bg-white ">

        <!-- Sección de información del cliente con campos de solo lectura para mostrar los datos relevantes del cliente -->
        <div class="mb-4">
            <h4 class=".h4">Detalles del Cliente</h4>
            <hr class="text-muted mb-4">
            <div class="row g-4">
                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">Nombre</label>
                    <input type="text" class="form-control bg-light" value="{{ cliente.nombre}}" readonly>
                </div>

                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">RIF</label>
                    <input type="text" class="form-control bg-light" value="{{ cliente.cedula }}" readonly>
                </div>

                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">Plan</label>
                    <input type="text" class="form-control bg-light" value="{{ cliente.idPlan }}" readonly>
                </div>

            </div>

        </div>

        <!-- Sección de detalles del pago registrado, mostrando información relevante del pago -->
        <div class="mb-4">
            <h4 class=".h4">Detalles de Pago</h4>
            <hr class="text-muted mb-4">
            
            <div class="row g-4 mb-4">
                <div class = col-md-4>
                    <label class="form-label fst-italic text-muted small mb-1">Fecha de registro</label>
                    <input type="text" class="form-control bg-light " value="{{ pago.fecha }}" readonly>
                </div>

                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">Tasa de cambio</label>
                    <input type="text" class="form-control bg-light " value="{{ pago.tasa }}" readonly>   
                </div>

                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">Registrado por:</label>
                    <input type="text" class="form-control bg-light " value="{{ pago.idPersonal }}" readonly>
                </div>
            </div>

            <div class="row g-4 mb-4">
                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">Monto (Bs)</label>
                    <input type="text" class="form-control bg-light " value="{{ pago.monto_bs }}" readonly>
                </div>
                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">Monto ($)</label>
                    <input type="text" class="form-control bg-light " value="{{ pago.montoUSD }}" readonly>
                </div>
                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">Método</label>
                    <input type="text" class="form-control bg-light " value="{{ pago.metodo }}" readonly>
                </div>
            </div>

            <div class="row g-4 mb-4">
                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">Comprobante</label>
                    <!-- Si existe un comprobante asociado al pago, muestra un botón para visualizarlo en un modal; de lo contrario, muestra un mensaje indicando que no hay comprobante -->
                    <div>
                        {% if pago.comprobante %}
                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#comprobanteModal"  data-titulo="Comprobante de Pago">
                                Ver comprobante
                            </button>
                        {% else %}
                            <span class="text-muted small">Sin comprobante</span>
                        {% endif %}
                    </div>

                    {% if pago.comprobante %}
                        <!-- Se incluye el modal para mostrar el comprobante de pago, pasando la instancia del formulario para acceder al comprobante asociado al pago -->
                        {% include 'modals/comprobante.html' %}
                    {% endif %}
                </div>
            </div>

        </div>



    </div>


{% endblock %} 

