{% extends 'base.html' %}
{% load static %}

{% block title %} Gestión de Pagos {% endblock %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item">Gestión de Pagos</li>
{% endblock %}

{% block content_page %}    
    <div class="mb-3">
        <span class="h1">Gestión de Pagos</span>
        <div class="card-header d-flex justify-content-between align-items-center mb-1">
            <p class="text-muted my-2">Administra los pagos realizados por tus clientes, incluyendo detalles y comprobantes.</p>
            <a
                name=""
                id=""
                class="btn btn-success justify-content-end"
                href=""
                role="button"
                >Nuevo pago</a
            >
        </div>
    </div>
  
    <!-- tarjeta para la tabla-->
    <div class="table-responsive card">
        <!-- cabecera de la tabla y filtros para buscar -->
        <div class="card-header">
            <h3 class="card-title h2">Historial de Pagos</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-start gap-3 align-items-center mb-1">
                        <label for="fecha_inicio" class="text-nowrap"> Desde </label>
                        <span>{{ filtros.fecha_inicio }}</span>
                        <label for="fecha_fin" class="text-nowrap"> Hasta </label>
                        <span>{{ filtros.fecha_fin }}</span>
                        <!-- buscar por nombr o cedula  -->
                        {{ filtros.nombreCliente }}
                        <!-- buscar -->
                        <button class="btn btn-sm btn-outline-dark" type="submit">
                            <img src="{% static 'images/busqueda.svg' %}" alt="Buscar" title="Aplicar filtros y buscar" width="20" height="20">
                        </button>
                        <!-- imprimir -->
                        <button class="btn btn-sm btn-outline-dark" type="button">
                            <img src="{% static 'images/imprimir.svg' %}" alt="Imprimir" title="Imprimir" width="20" height="20">
                        </button>
                    </div>
                </form>
            </form>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Monto USD</th>
                        <th scope="col">Metodo de pago</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if pagos %}
                        {% for pago in pagos %}
                            <tr>
                                <td>{{ pago.fecha }}</td>
                                <td>{{ pago.idCliente.nombre }}</td>
                                <td>{{ pago.montoUSD }}</td>
                                <td>{{ pago.metodo }}</td>
                                <td>
                                    <a
                                        name=""
                                        id=""
                                        title="Editar pago"
                                        class="btn btn-sm"
                                        href="{% url 'modificar_pago' pago.id %}"
                                        role="button"
                                        ><img src="{% static 'images/editar.svg' %}" alt="" width="20" height="20"></a
                                    >
                                    <a
                                        name=""
                                        id=""
                                        title="Ver detalles de pago"
                                        class="btn btn-sm"
                                        href="{% url 'detalles_pago' pago.id %}"
                                        role="button"
                                        ><img src="{% static 'images/ver_detalles.svg' %}" alt="" width="20" height="20"></a
                                    >
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="9" class="text-center">
                                Sin resultados para mostrar
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            {% if pagos.has_other_pages %}
                <nav aria-label="Paginación de pagos">
                    <ul class="pagination justify-content-center mt-2 mb-0">
                        {% if pagos.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ pagos.previous_page_number }}{{ query_string }}">Anterior</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">Anterior</span></li>
                        {% endif %}

                        {% for num in pagos.paginator.page_range %}
                            {% if pagos.number == num %}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{ num }}</span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}{{ query_string }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if pagos.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ pagos.next_page_number }}{{ query_string }}">Siguiente</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
                        {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>


{% endblock %}