{% extends 'base.html' %}


{% block title %} Modificar pago {% endblock %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{% url 'gestion_pagos' %}">Gestión de Pagos</a></li>
    <li class="breadcrumb-item"> Modificar pago </li>
{% endblock %}

{% block content_page %}
    <div class="container p-4  bg-white ">

        <div class="mb-5">
            <h4 class=".h4">Información del Cliente</h4>
            <hr class="text-muted mb-4">
            <div class="row g-4">
                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">Nombre</label>
                    <input type="text" class="form-control bg-light" value="{{ cliente.nombre}}" readonly>
                </div>

                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">RIF</label>
                    <input type="text" class="form-control bg-light" value="{{ cliente.cedula }}" readonly>
                </div>

                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">Celular</label>
                    <input type="text" class="form-control bg-light" value="{{ cliente.celular }}" readonly>
                </div>

            </div>

            <div class="row g-4">
                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">Plan</label>
                    <input type="text" class="form-control bg-light" value="{{ cliente.idPlan }}" readonly>
                </div>

                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">Estado</label>
                    <input type="text" class="form-control bg-light" value="{{ cliente.estado }}" readonly>
                </div>

                <div class="col-md-4">
                    <label class="form-label fst-italic text-muted small mb-1">Saldo pendiente</label>
                    <input type="text" class="form-control bg-light" value="{{ cliente.saldo }}" readonly>
                </div>

            </div>

        </div>

        <div class="mb-4">
            <h4 class=".h4">Pago registrado</h4>
            <hr class="text-muted mb-4">

            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row g-4 mb-4">

                    <div class="col-md-4">
                        <label class="form-label fst-italic text-muted small mb-1">Fecha de registro de pago</label>
                        {{ form.fecha }}
                    </div>

                    <div class="col-md-4">
                        <label class="form-label fst-italic text-muted small mb-1">Tasa de cambio</label>
                        {{ form.tasa}}
                    </div>

                    <div class="col-md-4">
                        <label class="form-label fst-italic text-muted small mb-1">Metodo de pago</label>
                        {{ form.metodo }}
                    </div>
                </div>

                <div class="row g-4 mb-4">
                    <div class="col-md-4">
                        <label class="form-label fst-italic text-muted small mb-1">Monto ($)</label>
                        {{ form.montoUSD }}
                    </div>

                    <div class="col-md-4">
                        <label class="form-label fst-italic text-muted small mb-1"> Comprobante </label>
                        {{ form.comprobante }}
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>


    </div>


{% endblock %} 