{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MikroCore - Iniciar Sesión</title>

    <!-- Enlazamos el CSS de Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/login.css' %}?">
    
</head>

<body>
    <!-- Contenedor principal centrado vertical y horizontalmente -->
    <div class="container-fluid d-flex justify-content-center align-items-center">
       <div class="login-card text-center">
            <!-- Seccion del logo -->
             <div class="d-flex align-items-center justify-content-center">
                
             </div>
             <!-- Formulario de inicio de sesion --> 
             {% if user.is_authenticated %}
                <div class="login-btn container">
                    <h2 class="login-title text-white text-start fw-bold">Ya has iniciado sesión</h2>
                    <div class="login-btn-container">
                        <a href="{% url 'signout' %}" class="btn btn-custom btn-bg-cerrar-sesion">Cerrar sesión</a>
                        <a href="{% url 'home' %}" class="btn btn-primary btn-custom btn-bg-continuar">Continuar</a>
                    </div>
                   
                </div>
             {% else %}
                <!-- Titulo del login --> 
                <h2 class="login-title text-white mb-4 text-start fw-bold">Iniciar Sesión</h2>
                <form method="POST">
                    {% csrf_token %}
                    <!-- Nombre del usuario--> 
                    <div class="mb-3">
                        {{form.username}}
                    </div>
                    <!-- Contraseña del usuario--> 
                    <div class="mb-4">
                        {{form.password}}
                    </div>
                    <!-- Boton de inicio de sesion--> 
                    <div class="login-btn-container mt-3">
                        <button type="submit" class="btn btn-primary btn-custom btn-bg-continuar">Iniciar sesion</button>
                    </div>
                </div>
                <!-- Si las credenciales estan incorrectas--> 

            </form>
            {% endif %}
       </div>
        
     </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
