{% extends 'base.html' %}

{% block titulo %}Login{% endblock %}

{% block contenido %}
    <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="Title" />
        <div class="card-body">
            <h4 class="card-title">Inicio de sesion</h4>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Login</button>
                <a href="{% url 'home' %}" class="btn btn-primary">Volver al inicio</a>
            </form>
        </div>
    </div>
{% endblock %}