<div class="modal fade" id="detalleLogModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fluid modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="detalleModalLabel">Información</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <!--contenedor principal-->
                <div class="container p-2 bg-white">
                    <!-- datos del operador-->
                    <div class="mb-3">
                        <h4 class="h4">Datos del operador</h4>
                        <hr class="text-muted mb-2">
                        <div class="mb-2">
                            <label class="form-label fst-italic text-muted small mb-1">Nombre</label>
                            <input id="detalle-log-nombreOperador" type="text" class="form-control bg-light" readonly>
                        </div>
                        <div class="mb-2">
                            <label class="form-label fst-italic text-muted small mb-1">Fecha</label>
                            <input id="detalle-log-fecha" type="text" class="form-control bg-light" readonly>
                        </div>
                    </div>

                    <!--datos del registro-->
                    <div class="mb-3">
                        <h4 class="h4">Datos del log</h4>
                        <hr class="text-muted mb-2">
                        <div class="mb-2">
                            <div class="row g-3 mb-2">
                                <div class="col-md-6">
                                    <label class="form-label fst-italic text-muted small mb-1">Módulo</label>
                                    <input id="detalle-log-modulo" type="text" class="form-control bg-light" readonly>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label fst-italic text-muted small mb-1">Tipo</label>
                                    <input id="detalle-log-error" type="text" class="form-control bg-light" readonly>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <label class="form-label fst-italic text-muted small mb-1">Mensaje</label>
                                    <textarea id="detalle-log-mensaje" class="form-control bg-light" rows="3" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
