<div class="modal fade" id="comprobanteModal" tabindex="-1" aria-labelledby="comprobanteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fluid modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="comprobanteModalLabel">Comprobante de Pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <img id="comprobanteImage" src="{{ pago.comprobante.url }}" alt="Comprobante de Pago" class="img-fluid">
                {{ pago.fecha }}
            </div>
            
        </div>
    </div>
</div>
